AWS_ROLE= test
AWS_SERVERLESS_PROFILE= test
AWS_SECURITY_GROUP= test
AWS_PRIVATE_SUBNET_A= test
AWS_PRIVATE_SUBNET_B= test
AWS_PRIVATE_SUBNET_C= test
AWS_REGION= test
DATABASE_NAME= test
DATABASE_HOST= test
DATABASE_USER= test
DATABASE_PASSWORD= test
DATABASE_PORT= test
NODE_ENV= test
PASSWORD_SALT= bAdPassWordSalTest