# Node
NODE_ENV= development

# AWS
AWS_ROLE= dummy
AWS_SERVERLESS_PROFILE= dummy
AWS_SECURITY_GROUP= dummy
AWS_PRIVATE_SUBNET_A= dummy
AWS_PRIVATE_SUBNET_B= dummy
AWS_PRIVATE_SUBNET_C= dummy
AWS_REGION= dummy

# DATABASE
# Note: You can change to any SQL DB follow on https://knexjs.org/guide/
DATABASE_ENGINE= pg
DATABASE_NAME= postgres
DATABASE_HOST= localhost
DATABASE_USER= postgres
DATABASE_PASSWORD= postgres
DATABASE_PORT= 5432


# REDIS
CACHE_REDIS_URL= redis://127.0.0.1:6379
PUB_SUB_REDIS_URL= redis://127.0.0.1:6380

# TOKEN
TOKEN_PREFIX= user_token:
# 1 hour
TOKEN_EXPIRES_IN= 3600